<div class="jumbotron">
    <h1>SELAMAT DATANG</h1>
    <p class="lead">Saya Farhanul Khair, <br /> Berikut adalah hasil kerja saya dari tekchnical test.</p>
    <p><a href="~/Nomor1.aspx" class="btn btn-primary btn-lg">WEB Page Nomor 1 &raquo;</a></p>
</div>

